@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');

h1{
    font-family: 'Bonheur Royale', cursive;
}

body{
    background-color: whitesmoke;
    margin: 0%;
}

.NavBarP,
.NavBarP-Logo,
.NavBarP-Nav,
.NavBarP-Nav > ul,
.NavBarP-Nav > ul > li,
.NavBarP-Nav > ul > li > a{
	height: 90px;
	line-height: 50px;
}
.NavBarP{
	background-color: #fffdfd;
	color: rgb(0, 0, 0);
	position: fixed;
    left: 0;
    top: 0;
    right: 0;
	font-family: 'RobotoCondensedLight';
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.NavBarP-Logo,
.NavBarP-Nav{
    position: fixed;
    top: 0;
	background-color: #f8dbdb;
}
.NavBarP-Logo{
	left: 0;
	width: 30%;
	font-family: 'OswaldRegular';
}
.NavBarP-Nav{
	right: 0;
	width: 70%;
}
.NavBarP-Nav > ul{
	text-align: right;
	padding-right: 10px;
}
.NavBarP-Nav > ul > li{
	display: inline-block;
	position: relative;
}
.NavBarP-Nav > ul > li > a{
	color: rgb(0, 0, 0);
	text-align: center;
	display: block;
	text-decoration: none;
	padding: 0 7px;
	transition: all .3s ease-in-out;
}
.NavBarP-Nav > ul > li > a:hover{
	color: #FAE76F;
}

/*pag inicio*/

main{
    background: #e5e7eb;
    width: 100%;
    height: 500px;
    padding-top: 7%;
}

.contenedor{
    width: 1300px;
    padding-left: 7%;
    padding-right: 7%;
    margin-left: 7%;
}

.card{
    float: right;
    width: 600px;
    
}

section{
    background-color: whitesmoke;
    margin: auto;

}

.info-space{
	background-color: #aca5a5;
	width: 100%;
	height: 550px;
	padding-top: 10px;
}

.in-duc{
	width: 1400px;
	height: 500px;
    padding-left: 7%;
    padding-right: 7%;
    margin-left: 7%;
	margin-top: 5%;
}


.metodos{
    background-color: rgb(248, 248, 248);
    width: auto;
    margin: 0px 191px;
    padding: 0px 16px;
}


/* pag quienes somos*/

.recarnacion{
	margin-top: 30px;
	padding: 400px;
	padding-top: 80px;
	height: 100%;
    background: url('../img/quiens.jpg');
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}

.hoja{
	width: 900px;
	height: 300px;
    
}
.video-contenido{
	width: 900px;
}

/* pag de mision*/

.mision{
	width: 1000px;
	height: 500px;
	background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	margin-top: 90px;
}

.mi{
	width: 1200px;
	height: 500px;
	margin-left: 300px;	
	padding: 2%;
}

.twp-container{

	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
	--text-opacity: 1;
	color: rgba(11,19,37,var(--text-opacity));
	line-height: 1.2;

    width: 100%;
    max-width: 640px;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
}



/* pag de vision*/

.vision{
	background: url('../img/saturno.jpg');
	width: 100%;
	height: 600px;
	margin-top: 90px;
    background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}

.vi{
	width: 1200px;
	height: 500px;
	margin-left: 300px;
	padding: 2%;
	
}
.twp-container twp-mb-20{
	-webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    --text-opacity: 1;
    color: rgba(11,19,37,var(--text-opacity));
    line-height: 1.2;
    width: 100%;
    max-width: 1024px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 5rem;
    height: auto;
}

.twp-text-3xl{
	-webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    --text-opacity: 1;
    font-family: inherit;
    color: inherit;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    margin: 0;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 1.375;
    margin-bottom: 2rem;
    text-align: center;
}

.col-1{
    width: 45%;
    float: left;

}
.col-2{
    width: 45%;
    float: right;

}